*{
    margin: 0;
    padding: 0;

    
}

ul{
    border-radius: 40px;
    background-color: #06D6A0;
}

li{
    color: #FFF2CC;
}

.d-flex{
    display: flex;
}

.f-center{
    justify-content: center;
    align-items: center;
}

.f-between{
    align-items: center;
    justify-content: space-between;
}

.game-card *{
    box-shadow:  /* права тінь */
    -5px 0 0px rgba(0,0,0); /* ліва тінь */
}

.p-40{
    padding: 0 40px;
}

.p-10{
    padding: 0 10px;
}

header{
    background-color: #E63946;
    color: #FFF2CC;
}

body{
    background-color: #FFF2CC;
    font-family: 'Verdana', sans-serif;
    color: #333333;
}



.product-img{
    width: 120px;
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 5px;
 }

 .product-title{
    margin-left: 25px;
 }

 .product-price{
    margin-left: 53px;
    background-color: #FFD166;
    width: 100px;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 10px;

 }

 .buy-btn{
    margin-left: 40px;
    background-color: #FFD166; /* кнопка жовта */
    border-radius: 20px;
    box-shadow: 4px 0 8px rgba(0,0,0,0.4),
    -4px 0 8px rgba(0,0,0,0.4);
    margin-top: 20px;
    width: 100px;
    height: 50px;
    size: 40px;
 }

 .product-titl{
    margin-left: 13px;
 }

 .product-descr{
    margin-left: 3px;
    border-radius: 25px;
    background-color:#06D6A0;
    margin-top: 20px;
    padding-left: 15px;
 }

 .history{
    background-color: #06D6A0;
    border-radius: 20px;
    box-shadow: 3px 0 10px rgba(0,0,0,0.3),
                -3px 0 10px rgba(0,0,0,0.3);
 }

 h2{
    background-color: #E63946;
    border-radius: 20px;
    text-align: center;
 }

 h3{
    background-color: #E63946;
    border-radius: 20px;
    text-align: center;
    margin-top: 10px;
    size: 40px;
 }

 .container{

}

.games {
    position: relative;
    padding: 50px 0;
    z-index: 1;
    
}

.game-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.game-card {
    background:#ffffff ;
    padding: 15px;
    border-radius: 8px;
    width: 30%;
    box-sizing: border-box;
    transition: transform 0.3s;
    box-shadow: 5px 0 10px rgba(0,0,0,0.3),  /* права тінь */
                -5px 0 10px rgba(0,0,0,0.3); /* ліва тінь */
    
}

.game-card:hover {
    transform: scale(1.05);
}

.game-card img {
    width: 100%;
    border-radius: 5px;
}

 .pizza{
    width: 100px;
    height: 100px;
 }

 footer {
    background: #333333;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9em;
    color: #FFF2CC;
 }