.title{

}

.logo{
     
}

.title-text{

}

.nav{

}

.nav-bar{
    gap: 75px;
}

.nav-item{
    list-style: none;
    color: white;
}

.nav-link{
    color: inherit;
    text-decoration: none;
}

.cart-btn{
    
}