*{
    margin: 0;
    padding: 0;
}

ul{
    border-radius: 40px;
    background-color: #2E7D32;
}

li{
    color: aliceblue;
}

.d-flex{
    display: flex;
}

.f-center{
    justify-content: center;
    align-items: center;
}

.f-between{
    align-items: center;
    justify-content: space-between;
}

.p-40{
    padding: 0 40px;
}

.p-10{
    padding: 0 10px;
}

header{
    background-color: #C62828;
}

body{
    background-color: #FAF7F2;
}



.product-img{
    width: 120px;
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 5px;
 }

 .product-title{
    margin-left: 25px;
 }

 .product-price{
    margin-left: 48px;
    background-color: #D32F2F;
    width: 40px;
    border-radius: 10px;
 }

 .buy-btn{
    margin-left: 40px;
    background-color: #FBC02D;
    border-radius: 20px;
 }

 .product-titl{
    margin-left: 13px;
 }

 .product-descr{
    margin-left: 3px;
    border-radius: 25px;
    background-color:#98FF98;
 }

 .history{
    background-color: #98FF98;
    border-radius: 20px;
 }

 h2{
    background-color:rgb(238, 64, 64);
    border-radius: 20px;
    text-align: center;
 }

 h3{
    background-color:rgb(238, 64, 64);
    border-radius: 20px;
    text-align: center;
    margin-top: 10px;
    size: 40px;
 }

 .container{

}

.games {
    position: relative;
    padding: 50px 0;
    z-index: 1;
    
}

.game-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game-card {
    background:#ffffff ;
    padding: 15px;
    border-radius: 8px;
    width: 30%;
    box-sizing: border-box;
    transition: transform 0.3s;
    
}

.game-card:hover {
    transform: scale(1.05);
}

.game-card img {
    width: 100%;
    border-radius: 5px;
}

 .pizza{
    width: 100px;
    height: 100px;
 }

 footer {
    background: #0d0d0d;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9em;
    color: #ffffff;
 }