*{
    margin: 0;
    padding: 0;
}

ul{
    border-radius: 40px;
    background-color: blueviolet;
}

li{
    color: aliceblue;
}

.d-flex{
    display: flex;
}

.f-center{
    justify-content: center;
    align-items: center;
}

.f-between{
    align-items: center;
    justify-content: space-between;
}

.p-40{
    padding: 0 40px;
}

.p-10{
    padding: 0 10px;
}

header{
    background-color: palegoldenrod;
}

body{
    background-color: powderblue;
}



.product-img{
    width: 120px;
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 5px;
 }

 .product-title{
    margin-left: 25px;
 }

 .product-price{
    margin-left: 48px;
    background-color: aqua;
    width: 40px;
    border-radius: 10px;
 }

 .buy-btn{
    margin-left: 40px;
 }

 .product-titl{
    margin-left: 13px;
 }

 .product-descr{
    margin-left: 3px;
    border-radius: 25px;
    background-color: blueviolet;
 }